{% extends 'base.html' %}
{% block subtitle %}박다인 자기소개{% endblock %}
{% block content %}

    

<div class="container">
  <div class="status-bar">
    <div style="text-align: center">
    
      <div class="row">
          <div class="col-10">
              <div class="row" style="margin-left: 10px">
                 
                  <div class="col-3">
                      <img src='https://ifh.cc/g/4O5u5h.jpg' width="200px">
                  </div>
                  <div class="col-8">
                      <h5>이름 : 박다인</h5>
                      <hr>
                  
                      <div class="container" >
                        <table class="container"  style=" text-align: right; ">
                          <tr style = "border-bottom: 1px solid gray;"><td>github &nbsp; &nbsp; &nbsp;</td> <td > https://github.com/dain1403 </td></tr>
                          <tr style = "border-bottom: 1px solid gray;"><td>e-mail  &nbsp; &nbsp; &nbsp;</td><td > da1505@naver.com </td></tr>
                          <!-- <tr style = "border-bottom: 1px solid gray;"><td>좋아하는 스포츠 </td> <td>    </td> <td>볼링 </td></tr>
                          <tr style = "border-bottom: 1px solid gray;"><td>좋아하는 음식</td> <td>     </td> <td> 초밥 </td></tr> -->
                        </table>
                        좋아하는 스포츠는 볼링🎳이고 <br> 좋아하는 음식🍽은 초밥과 메이플 피칸파이입니다. <br>
                        그리고 예능 프로그램🎬을 즐겨 봅니다. <br> 그 중 신서유기를 제일 재밌게 보았습니다.<br>
                        
                        
                      </div>

                  </div>
                  <div class="col-1">
                      <!-- etc -->
                  </div>
              </div>
              <br>
              
              <br>
              
              <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src='https://ifh.cc/g/mb6BZh.jpg' alt="image1" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src='https://ifh.cc/g/K2E7ug.jpg' alt="image2" class="d-block w-60">
                  </div>
                  <div class="carousel-item">
                    <img src='https://ifh.cc/g/oohjr0.jpg' alt="DL" class="d-block w-100">
                  </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>

          </div>
      </div>



    
    
</body>




      <!-- <img src="https://pgnqdrjultom1827145.cdn.ntruss.com/img/26/92/2692b88849b4e1dfde7d3f059189ffdc54fc6e8e3900969870b2208911a01f80_v1.jpg">
      <h1>ABOUT ME</h1>
      <br>
      <a href="https://github.com/dain1403"><img src="https://ifh.cc/g/uIbGEg.png" width="80" height="80" ></a>
      <a href="https://github.com/dain1403"><img src="https://ifh.cc/g/Bxkdul.png" width="80" height="80"></a>
      <a href="https://github.com/dain1403"><img src="https://ifh.cc/g/VMI4j5.jpg" width="80" height="80"></a>
      
      
      <br><br><br>

    
      <h4 style="color: gray">안녕하세요<br><br></h4>
        
      <h6>park dain</h6>
      <h6>da1505@naver.com</h6>
      <h6> Information and Communication Engineering </h6>
       -->
    
    </div>
    <br><br><br>

  </div>

</div>
  


{% endblock %}